<div class="bigbox">
	<div class="contain">
		<div id="chead">
			购物车
		</div>
		<div class="ccon" [ngStyle]="style">
			<img src="./../../../assets/images/n4.jpg"/>
			<p routerLink="/shopping"  class="open-preloader">现在去购物咯~❤</p>
		</div>
		<div class="ncon" *ngIf="carRes">
			<ul *ngFor="let obj of carRes">
				<li>
					<img [src]="obj.verticalImage"/>
					<div>
						<span>
							<b>{{obj.brandStoreName}}</b>
							{{obj.name}}
						</span>
						<p class="price">
							￥{{obj.vipshopPrice}}
						</p>
						<p class="count">
							<span (click)='reduceQty(obj.gid,obj.qty)'>-</span>
							<span>{{obj.qty}}</span>
							<span (click)='addQty(obj.gid)'>+</span>
							<span class="icon icon-remove" (click)="del()"></span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="carNav">
			<span>总金额：<b>￥{{this.count}}</b></span>
			<span>立即结算</span>
		</div>
	</div>
	<footnav></footnav>
</div>