<div class="bigbox">
	<div class="contain">
		<div id="chead">
			购物车
		</div>
		<!--<div class="ccon" *ngIf="carType">
			<img src="./../../../assets/images/n4.jpg"/>
			<p routerLink="/shopping">现在去购物咯~❤</p>
		</div>-->
		<div class="ncon">
			<ul>
				<li>
					<img src="http://a2.vimage1.com/upload/merchandise/pdc/851/651/8882582148735651851/1/5HT423B-5.jpg"/>
					<div>
						<span>
							<b>丽得姿</b>
							奢步士黑色太空棉艺术印花长袖T恤
						</span>
						<p class="price">
							￥98.00
						</p>
						<p class="count">
							<span (click)='changcount()'>-</span>
							<span>1</span>
							<span>+</span>
							<span class="icon icon-remove" (click)="del()"></span>
						</p>
					</div>
				</li>
				<li>
					<img src="http://a2.vimage1.com/upload/merchandise/pdc/851/651/8882582148735651851/1/5HT423B-5.jpg"/>
					<div>
						<span>
							<b>丽得姿</b>
							奢步士黑色太空棉艺术印花长袖T恤
						</span>
						<p class="price">
							￥98.00
						</p>
						<p class="count">
							<span (click)='changcount()'>-</span>
							<span>1</span>
							<span>+</span>
							<span class="icon icon-remove" (click)="del()"></span>
						</p>
					</div>
				</li>
				<li>
					<img src="http://a2.vimage1.com/upload/merchandise/pdc/851/651/8882582148735651851/1/5HT423B-5.jpg"/>
					<div>
						<span>
							<b>丽得姿</b>
							奢步士黑色太空棉艺术印花长袖T恤
						</span>
						<p class="price">
							￥98.00
						</p>
						<p class="count">
							<span (click)='changcount()'>-</span>
							<span>1</span>
							<span>+</span>
							<span class="icon icon-remove" (click)="del()"></span>
						</p>
					</div>
				</li>
				<li>
					<img src="http://a2.vimage1.com/upload/merchandise/pdc/851/651/8882582148735651851/1/5HT423B-5.jpg"/>
					<div>
						<span>
							<b>丽得姿</b>
							奢步士黑色太空棉艺术印花长袖T恤
						</span>
						<p class="price">
							￥98.00
						</p>
						<p class="count">
							<span (click)='changcount()'>-</span>
							<span>1</span>
							<span>+</span>
							<span class="icon icon-remove" (click)="del()"></span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="carNav">
			<span>总金额：<b>￥230</b></span>
			<span>立即结算</span>
		</div>
	</div>
	<footnav></footnav>
</div>