<div class="bigbox">
	<div class="contain">
		<div id="chead">
			购物车
		</div>
		<div class="ccon" [ngStyle]="style">
			<img src="./../../../assets/images/n4.jpg"/>
			<p routerLink="/shopping" >现在去购物咯~❤</p>
		</div>
		<div class="ncon" *ngIf="carRes">
			<ul *ngFor="let obj of carRes">
				<li>
					<img [src]="obj.verticalImage" (click)="todetails(obj.gid)"/>
					<div>
						<span>
							<b>{{obj.brandStoreName}}</b>
							{{obj.name}}
						</span>
						<p class="price">
							￥{{obj.vipshopPrice*obj.qty}}
						</p>
						<p class="count">
							<span (click)='reduceQty(obj.gid,obj.qty)'>-</span>
							<span>{{obj.qty}}</span>
							<span (click)='addQty(obj.gid)'>+</span>
							<span class="icon icon-remove" (click)="del(obj.gid)"></span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="carNav" [ngStyle]="navstyle">
			<span>总金额：<b>￥{{count}}</b></span>
			<span (click)="account()">立即结算</span>
		</div>
	</div>
	<footnav></footnav>
</div>
<div id="success">删除成功</div>