<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        	<img src="http://b.appsimg.com/upload/maappactadmin/2018/02/27/14/151969797178_1125x450_80.jpg"/>
        </div>
        <div class="swiper-slide">
        	<img src="http://b.appsimg.com/upload/maappactadmin/2018/02/24/74/151946726427_1125x450_80.jpg"/>
    	</div>
        <div class="swiper-slide">
        	<img src="http://b.appsimg.com/upload/maappactadmin/2018/02/27/153/151969892357_1125x450_80.jpg"/>
        </div>
        <div class="swiper-slide">
        	<img src="http://b.appsimg.com/upload/maappactadmin/2018/02/27/63/151969906966_1125x450_80.jpg"/>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>