<div class="bigbox">
	<div class="clearfix">
		<search></search>
	</div>
	<div class="contain clearfix">
		<banner></banner>
		<div id="contain">
			<div class="classifyItem">
				<ul>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2017/12/25/124/5f977f3a-fd36-41b0-ba0e-5443c921c13b.jpg" />
						<p>保湿</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2016/11/09/127/88455dfc-0654-4623-bc6d-c8aed45d1bef.jpg" />
						<p>洁面</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2017/09/30/189/98532ee3-8ed0-4d17-9a54-591e5b0794af.jpg" />
						<p>彩妆</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2017/12/29/148/a9e38982-1b1e-4125-8f08-949f27b80a78.jpg" />
						<p>面膜</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2016/08/31/26/7ce84757-2e03-455e-8d6b-8c6e4f46eaa1.jpg" />
						<p>洗护</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2017/08/31/196/390cb6ca7cd944d38503eac8a1fd6b9f-5.jpg" />
						<p>卸妆</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/2018/01/03/88/dc96ceaab98a4e7ab1bf6a9aa248512f-5.jpg" />
						<p>香氛</p>
					</li>
					<li>
						<img src="http://a2.vimage1.com/upload/merchandise/pdc/125/088/7018297069307088125/6/020714352837-5.jpg" />
						<p>防晒</p>
					</li>
				</ul>
			</div>
			<div class="classifyItem2">
				<div class="zbyTitle">

					<i></i>
					<p>
						护肤攻略
						<span>SKIN CARE</span>
					</p>

				</div>
				<ul>
					<li><img src="./../../../assets/images/i1.jpg" /></li>
					<li><img src="./../../../assets/images/i2.jpg" /></li>
					<li><img src="./../../../assets/images/i3.jpg" /></li>
					<li><img src="./../../../assets/images/i4.jpg" /></li>
					<li><img src="./../../../assets/images/i5.jpg" /></li>
					<li><img src="./../../../assets/images/i6.jpg" /></li>
				</ul>
			</div>
			<div class="classifyItem3">
				<div class="zbyTitle">

					<i></i>
					<p>
						品牌馆
						<span>BRAND SHOP</span>
					</p>

				</div>
				<ul>
					<li><img src="./../../../assets/images/i7.jpg" /></li>
					<li><img src="./../../../assets/images/i8.jpg" /></li>
					<li><img src="./../../../assets/images/i9.jpg" /></li>
					<li><img src="./../../../assets/images/i10.jpg" /></li>
					<li><img src="./../../../assets/images/i11.jpg" /></li>
					<li><img src="./../../../assets/images/i12.jpg" /></li>
				</ul>
			</div>
			<div class="classifyItem4">
				<div class="zbyTitle">

					<i></i>
					<p>
						人气精华榜
						<span>ELITE LIST</span>
					</p>
				</div>
				<div class="uibox">
					<div class="buttons-tab" (click)="selectType($event)">
						<a href="#tab1" class="tab-link active button">面膜</a>
						<a href="#tab2" class="tab-link button">服饰</a>
						<a href="#tab3" class="tab-link button">洗浴</a>
					</div>
					<div class="content-block">
						<div class="tabs">
							<div id="tab1" class="tab active">
								
								<goodslist [type]="goodslist"></goodslist>
								
							</div>
							<div id="tab2" class="tab">
								
								<goodslist [type]="goodslist"></goodslist>
								
							</div>
							<div id="tab3" class="tab">
								
								<goodslist [type]="goodslist"></goodslist>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <a routerLink="/goodslist">跳转到列表页</a>  -->
		</div>
	</div>
	<footnav></footnav>
</div>