#contain{
	position:relative;
	top:-1.4rem;
	height: 100%;
	background: #f5f5f5;
	.classifyItem{
		background: #fff;
		margin-bottom:0.466667rem;
		ul{
			display:flex;
			flex-wrap:wrap;
		}
		li{
			width:25%;
			text-align: center;
			padding: 0.466667rem;
			
			img{
			    
				width: 1.853333rem;
			}
			p{
				font-size: 0.526667rem;
				font-weight: bold;
				
			}
		}
	}
	.classifyItem2{
		background: #fff;
		margin-bottom:0.466667rem;
		ul{
			display: flex;
			flex-wrap: wrap;
			li{
				width: 50%;
				justify-content: space-between;
				img{
					width: 9.033333rem;
				}
			}
		}
	}
}

.zbyTitle{
	position: relative;
	font-size: 0.813333rem;
	text-align: center;
	padding-top:0.366667rem;
	height: 2.866667rem;
	i{
		position: absolute;
		left:50%;
		transform:translateX(-50%);
		display:block;
		border: 1px solid #A0A0A0;
		width: 5.8rem;
		height: 2.1rem;
	}
	p{	
		height: 2.5rem;
		background: #fff;
		color:#DB7897;
		position: absolute;
		left:50%;
		transform:translateX(-50%);
		top:0.233333rem;
		padding: 0 0.533333rem;
	}
	span{
		display:block;
		color:#979797;
		font-size:0.226667rem ;
	}
}
.classifyItem3{
	background: #fff;
	border-bottom:0.466667rem solid  #f5f5f5;
	ul{
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    li{
	        width: 33%;
	        img{
	            width: 100%;
	        }
	    }
	}
}
.classifyItem4{
   background: #fff;
}
.buttons-tab{
    border-top: 1px solid #A0A0A0;
    .button.active{
        color: #ED5D8E;
        border-color: #D21555;
    }
}
.content-block{
    margin: 0;
}
.listAside{
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 52px;
    img{
        width: 100%;
    }
}