<div class="bigbox">
		<div class="contain">
			<router-outlet></router-outlet>
		</div>
</div>
<div class="footnav">
	<ul>
		<li routerLink="/super">
			<span class="icon icon-clock"></span>
			<a >特卖</a> 
			
		</li>
		<li routerLink="/classify">
			<span class="icon icon-menu"></span>
			<a>分类</a> 
			
			
		</li>
		<li routerLink="/shopping">
			<span class="icon icon-gift"></span>
			<a>商场</a> 
			
		</li>
		<li routerLink="/car">
			<span class="icon icon-cart"></span>
			<a>购物车</a> 
			
		</li>
		<li routerLink="/my">
			<span class="icon icon-me"></span>
			<a>我的蜂巢</a> 
		</li>
	</ul>
</div>
