<div class="bigbox">
    <div class="head">
        <span class="icon icon-left"></span>
        <p>订单详情</p>
        <span></span>
    </div>
    <div class="contain">
        <div class="abc">&nbsp;</div>
        <ul class="list">
            <li><p>订单信息</p></li>
            <li>
                <p>订单编号：18036095424513</p>
                <p>下单时间：<span [style.color]="'#A4A4A4'">2018-03-06</span></p>
                <p>支付方式：<span [style.color]="'#A4A4A4'">乐峰唯宝快捷支付</span></p>
                <p>订单状态：<span [style.color]="'#EECB79'">未支付</span></p>
            </li>
        </ul>
        <div class="abc">&nbsp;</div>
        <ul class="list">
            <li><p>商品信息</p></li>
            <li class="imglist">
                <img src="../../../assets/images/l7.jpg" alt="" />
                <div>
                    <span>完美MARUBI弹力蛋白凝时精致面膜6片 宝宝博阿博阿博鳌鲍勃啊波哦吧</span>
                    <p [style.color]="'#A4A4A4'">数量：1</p>
                    <p>金额：￥ 58.00</p>
                </div>
            </li>
        </ul>
        <div class="abc">&nbsp;</div>
        <ul class="list">
            <li class="imglist">
                <p>发票信息</p>
                <p>不开发票</p>
            </li>
        </ul>
        <div class="abc">&nbsp;</div>
        <ul class="list">
            <li >
                <p>订单金额</p>
                <p class="imglist">商品总金额<span [style.color]="'#A4A4A4'">￥ 58.00</span></p>
                <p class="imglist">运费<span [style.color]="'#A4A4A4'">￥ 10.00</span></p>
                <p class="imglist">应付金额<span [style.color]="'#C31751'">￥ 68.00</span></p>
            </li>
        </ul>
        <div class="abc">&nbsp;</div>
        <ul class="imglist" [style.padding-right]="'0.46875rem'">
            <li class="blist">总金额：<span [style.color]="'#C31751'">￥ 68.00</span></li>
            <li class="imglist anniulist">
                <div>取消订单</div>
                <div>
                    <p>支付</p>
                    <p>￥ 68.00</p>
                </div>
            </li>
        </ul>
    </div>
</div>