<div id="header">
    <h3>乐峰商城后台管理系统</h3>
    <ul class="header_r">
        <li>
            <i class="iconfont icon-xiaoxi"></i>
            <span>9</span>
        </li>
        <li>
            <i class="iconfont icon-xiaoxi1"></i>
            <span style="background-color: #f39c12">15</span>
        </li>
        <li  (click)="exitUser()" class="exituser bb">
            <h4>欢迎您：{{user}}</h4>
        </li>
        <ul class="exit">
            <li class="message">
                <img src="../../../assets/user.jpg">
                <p>
                    Alexander Pierce - Web <br/>Developer<br/>
                    <span style="font-size: 12px">Member since Nov. 2018</span>
                </p>
            </li>
            <li class="exit_b">
                <div class="btn btn-default btn-lg active" role="button">设置</div>
                <div class="btn btn-default btn-lg active" role="button" (click)="exitUsers()">退出</div>
            </li>
        </ul>
        <div class="setting aa">
            <div class="setting_main">
                
                <div>
                    <span>语言设置</span>
                    <select [(ngModel)]="common.lanType">
                        <option value="en">en</option>
                        <option value="cn">cn</option>
                    </select>
                </div>
            </div>
        </div>
        <li (click)="setting()">
            <i class="iconfont icon-setup"></i>
        </li>
    </ul>
</div>
<div id="main">

    <ul id="nav">
        <li  class="panel panel-default">
            主导航
        </li>
        <li class="panel panel-default">
            <div class="panel-heading">
                <i class="iconfont icon-shangpinguanli"></i>
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapseOne">
                    商品信息管理
                </a>
                <i class="iconfont icon-jiantou3"></i>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div><a routerLink="goods">商品信息预览</a></div>
                </div>
            </div>
        </li>
        <li class="panel panel-default">
            <div class="panel-heading">
                <i class="iconfont icon-yonghu"></i>
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapseTwo">
                    会员信息管理
                </a>
                <i class="iconfont icon-jiantou3"></i>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div><a routerLink="vip">会员信息</a></div>
                </div>
            </div>
        </li>
    </ul>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
