<div id="header">
    <h3>乐峰商城后台管理系统</h3>
    <select>
        <option value="en">en</option>
        <option value="cn">cn</option>
    </select>
</div>
<div id="main">

    <div id="nav">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    Go!
                </button>
            </span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapseOne">
                    <i class="el-icon-arrow-down"></i>商品信息管理
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div><a routerLink="goods">商品库存预览</a></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapseTwo">
                    会员信息管理
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div><a routerLink="vip">会员信息</a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
