<div class="bigbox">
	<div class="contain">
		<div class="head">
			<img src='https://h5rsc-ssl.vipstatic.com/lefeng/build/f39c984d8edd5e686a2a88e59a87d886.png' >
			<p>
				<a href="login">登录</a>
				<span>/</span>
				<a href="register">注册</a>
			</p>
		</div>
		<div class="order">
			<a href="order" class='my_order'>
				我的订单
				<b>全部订单</b> 
				<span class="icon icon-right"></span>
			</a>
			<div class="order_tag">
				<a href="">
					<span class="icon icon-browser"></span>
					<p>待支付</p>
				</a>
				<a href="">
					<span class="icon icon-app"></span>
					<p>待收货</p>
				</a>
				<a href="">
					<span class="icon icon-emoji"></span>
					<p>待评价</p>
				</a>
			</div>
			<!-- <div class="item">
				<span class="icon icon-check"></span>
				收货地区
				<b class="txt">广东</b>
				<span class="icon icon-right"></span>
			</div> -->
			<div class="item">
				<span class="icon icon-check"></span>
				我的优惠券
				<span class="icon icon-right"></span>
			</div>
			<div class="item">
				<span class="icon icon-menu"></span>
				我的花粉
				<span class="icon icon-right"></span>
			</div>
			<div class="item mb">
				<span class="icon icon-code"></span>
				我的银行卡
				<span class="icon icon-right"></span>
			</div>
			<div class="item">
				<span class="icon icon-download cc"></span>
				我的收藏
				<span class="icon icon-right"></span>
			</div>
			<div class="item mb">
				<span class="icon icon-edit cc"></span>
				浏览记录
				<span class="icon icon-right"></span>
			</div>
			<div class="item">
				<span class="icon icon-phone cc"></span>
				意见反馈
				<span class="icon icon-right"></span>
			</div>
			<div class="item">
				<span class="icon icon-friends cc"></span>
				联系客服
				<span class="icon icon-right"></span>
			</div>
			<div class="item mb">
				<span class="icon icon-me cc"></span>
				关于乐峰
				<span class="icon icon-right"></span>
			</div>
		</div>
	</div>
	<footnav></footnav>		
</div>