    <div class="bigbox clearfix">
    <div class="clearfix">
        <search></search>
    </div> 
    <div class="contain">   
        <div>    
            <ul class="daohang">
                <li>
                    <a routerLink="/classify">分类</a>
                </li>
                <li  class="active">
                    <a routerLink="/pinpai">品牌</a>
                    <div></div>
                </li>  
            </ul>            
            <div class="abc"><a  name="hot">热门品牌</a></div>
            <ul class="hotgoods" (click)="toBrandList($event)">
                <li><img src="../../../assets/images/i7.jpg" alt="" title="自然堂"/></li>
                <li><img src="../../../assets/images/i8.jpg" alt=""  title="韩束"/></li>
                <li><img src="../../../assets/images/i9.jpg" alt="" title="欧诗漫"/></li>
                <li><img src="../../../assets/images/i10.jpg" alt=""  title="花印"/></li>
                <li><img src="../../../assets/images/i11.jpg" alt="" title="IT°S SKIN"/></li>
                <li><img src="../../../assets/images/i12.jpg" alt=""  title="丸美"/></li>
            </ul>
            <div class="abc"><a href="#" name="A">A</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Adataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="B">B</a></div>
             <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="C">C</a></div>
           <ul class="datalist" (click)="toBrandListZ($event)">
               <li *ngFor="let obj of Cdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="D">D</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Ddataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="E">E</a></div>
           <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Ddataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="F">F</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="G">G</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Cdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="H">H</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Fdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="I">I</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="J">J</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Ddataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="K">K</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Fdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="L">L</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Cdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="M">M</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Fdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="N">N</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="O">O</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Ddataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="P">P</a></div>
           <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="Q">Q</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Ddataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="R">R</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Cdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="S">S</a></div>
           <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Fdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="T">T</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="U">U</a></div>
           <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Fdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="V">V</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Fdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="W">W</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Ddataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="X">X</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Cdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="Y">Y</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Adataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="Z">Z</a></div>
            <ul class="datalist" (click)="toBrandListZ($event)">
                <li *ngFor="let obj of Bdataset">
                    <img src={{obj.img}} alt="" />
                    <span>{{obj.name}}</span>
                </li>
            </ul>
            <ul class="fixed">
                <li><a href="/pinpai#hot">热</a></li>
                <li><a href="/pinpai#A">A</a></li>
               <li><a href="/pinpai#B">B</a></li>
               <li><a href="/pinpai#C">C</a></li>
               <li><a href="/pinpai#D">D</a></li>
               <li><a href="/pinpai#E">E</a></li>
               <li><a href="/pinpai#F">F</a></li>
               <li><a href="/pinpai#G">G</a></li>
               <li><a href="/pinpai#H">H</a></li>
               <li><a href="/pinpai#I">I</a></li>
               <li><a href="/pinpai#J">J</a></li>
               <li><a href="/pinpai#K">K</a></li>
               <li><a href="/pinpai#L">L</a></li>
               <li><a href="/pinpai#M">M</a></li>
               <li><a href="/pinpai#N">N</a></li>
               <li><a href="/pinpai#O">O</a></li>
               <li><a href="/pinpai#P">P</a></li>
               <li><a href="/pinpai#Q">Q</a></li>
               <li><a href="/pinpai#R">R</a></li>
               <li><a href="/pinpai#S">S</a></li>
               <li><a href="/pinpai#T">T</a></li>
               <li><a href="/pinpai#U">U</a></li>
               <li><a href="/pinpai#V">V</a></li>
               <li><a href="/pinpai#W">W</a></li>
               <li><a href="/pinpai#X">X</a></li>
               <li><a href="/pinpai#Y">Y</a></li>
               <li><a href="/pinpai#Z">Z</a></li>       
            </ul>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div> 
    </div> 
    <footnav></footnav>     
</div>