<div class="bigbox clearfix">
    <div class="clearfix">
        <search></search>
    </div> 
    <div class="contain">   
        <div>    
            <ul class="daohang">
                <li>
                    <a routerLink="/classify">分类</a>
                </li>
                <li  class="active">
                    <a routerLink="/pinpai">品牌</a>
                    <div></div>
                </li>  
            </ul>            
            <div class="abc"><a  id="hot" name="hot">热门品牌</a></div>
            <ul class="hotgoods">
                <li><img src="../../../assets/images/i7.jpg" alt="" /></li>
                <li><img src="../../../assets/images/i8.jpg" alt="" /></li>
                <li><img src="../../../assets/images/i9.jpg" alt="" /></li>
                <li><img src="../../../assets/images/i10.jpg" alt="" /></li>
                <li><img src="../../../assets/images/i11.jpg" alt="" /></li>
                <li><img src="../../../assets/images/i12.jpg" alt="" /></li>
            </ul>
            <div class="abc"><a href="#" name="A">A</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l17.jpg" alt="" />
                    <span>ABC</span>
                </li>
                <li>
                    <img src="../../../assets/images/l18.jpg" alt="" />
                    <span>安热沙</span>
                </li>
                <li>
                    <img src="../../../assets/images/l19.jpg" alt="" />
                    <span>安娜苏</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="B">B</a></div>
             <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="C">C</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="D">D</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="E">E</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="F">F</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="G">G</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="H">H</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="I">I</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="J">J</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="K">K</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="L">L</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="M">M</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="N">N</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="O">O</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="P">P</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="Q">Q</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="R">R</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="S">S</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="T">T</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="U">U</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="V">V</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="W">W</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="X">X</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="Y">Y</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <div class="abc"><a href="#" name="Z">Z</a></div>
            <ul class="datalist">
                <li>
                    <img src="../../../assets/images/l20.jpg" alt="" />
                    <span>贝玲妃</span>
                </li>
                <li>
                    <img src="../../../assets/images/l21.jpg" alt="" />
                    <span>宝洁</span>
                </li>
                <li>
                    <img src="../../../assets/images/l22.jpg" alt="" />
                    <span>博倩</span>
                </li>
            </ul>
            <ul class="fixed">
                <li><a href="#">热</a></li>
                <li><a href="#">A</a></li>
               <li><a href="#">B</a></li>
               <li><a href="#">C</a></li>
               <li><a href="#">D</a></li>
               <li><a href="#">E</a></li>
               <li><a href="#">F</a></li>
               <li><a href="#">G</a></li>
               <li><a href="#">H</a></li>
               <li><a href="#">I</a></li>
               <li><a href="#">J</a></li>
               <li><a href="#">K</a></li>
               <li><a href="#">L</a></li>
               <li><a href="#">M</a></li>
               <li><a href="#">N</a></li>
               <li><a href="#">O</a></li>
               <li><a href="#">P</a></li>
               <li><a href="#">Q</a></li>
               <li><a href="#">R</a></li>
               <li><a href="#">S</a></li>
               <li><a href="#">T</a></li>
               <li><a href="#">U</a></li>
               <li><a href="#">V</a></li>
               <li><a href="#">W</a></li>
               <li><a href="#">X</a></li>
               <li><a href="#">Y</a></li>
               <li><a href="#">Z</a></li>       
            </ul>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div> 
    </div> 
    <footnav></footnav>     
</div>