<ul>
	<li>
		<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/600300/2016/1103/36/f2ece158-4350-4c77-ad0d-49a7a28098f5.jpg"/>
		<p>
			<span>韩束</span><span>韩束韩束韩束</span>
			<span>“肌肤加湿器”，给你想要的</span>
		</p>
		<p>
			<span>￥45 <del>￥123</del></span>
			<span class="icon icon-cart"></span>
		</p>
	</li>
	<li>
		<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/600300/2016/1103/36/f2ece158-4350-4c77-ad0d-49a7a28098f5.jpg"/>
		<p>
			<span>韩束</span><span>韩束韩束韩束</span>
			<span>“肌肤加湿器”，给你想要的</span>
		</p>
		<p>
			<span>￥45 <del>￥123</del></span>
			<span class="icon icon-cart"></span>
		</p>
	</li>
	<li>
		<img src="http://a2.vimage1.com/upload/merchandise/pdcvis/600300/2016/1103/36/f2ece158-4350-4c77-ad0d-49a7a28098f5.jpg"/>
		<p>
			<span>韩束</span><span>韩束韩束韩束</span>
			<span>“肌肤加湿器”，给你想要的</span>
		</p>
		<p>
			<span>￥45 <del>￥123</del></span>
			<span class="icon icon-cart gouwuche"></span>
		</p>
	</li>
</ul>
