/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4,  form, img,input{ margin:0; padding:0; }
img,input,button { border:none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    zoom:1;
}
ul, ol { list-style:none; }
/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}*/
select, input { vertical-align:middle;}
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }

h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:1em;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}

a{text-decoration:none;}
/*公共类*/

.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}

.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}
