.selected{
    border-bottom: 3px solid #ccc;
}

#contain{
    position:relative;
	top:-1.4rem;
	height: 100%;
    background: #f5f5f5;
    .article1{
        margin-bottom:0.466667rem;
        background: #fff;
        ul{
            display:flex;
            flex-wrap:wrap;
        }
        li{
            width:20%;
            background: #fff;
            img{
                width: 80px;
                height: 100px;
            }
            p{
                font-size: .4rem;
                color:#444;
            }
        }
    }
    .article2{
        background: #fff;
        height: 182px;
        img{
            width: 100%;
        }
    }
    .article3{
        background: #fff;
        img{
            width: 100%;
            height: 111px;
            float: left;
        }
        img:nth-of-type(1){
            width: 100%;
            height: 258px;
            float: left;
        }
        img:nth-of-type(4){
            height: 70px;
        }
        img:nth-of-type(5){
            height: 76px;
        }
        img:nth-of-type(6){
            height: 229px;
        }
        img:nth-of-type(7){
            height: 422px;
        }
    }
    .article4{
        background:#fff;
        .title{
            width:145px !important;
            position: relative !important;
            float: left;
            font-size: 14px;
            color:#444;
        }
    }
    .article5{
        padding: 10px;
        img{
            width: 355px;
            height: 130px;
            margin-top: 3px;
        }
    }
    .article6{
        li{
            position:relative;
            img{
                width:375px;
                height:165px;
            }
            span{
                position: absolute;
                bottom:27px;
                background: #000;
                opacity: 0.5;
                color:#fff;
                text-align: left;
                font-size: 14px;
                padding: 0 10px;
                width: 100%;
            }
            p{
                padding: 0 10px;
                font-size: 14px;
                color:#444;
            }
        }
    }
    .article7{
        li{
            width: 187px;
            height: 283px;
            padding: 10px;
            float: left;
            div{
                img{
                    width: 155px;
                    height: 186px;
                }
            }
            
            p{  
                font-size: 12px;
                width: 168px;
                height: 25px;
                white-space: nowrap;
                text-overflow:ellipsis;
                overflow: hidden;
            }
            .tag-warp{
                width: 168px;
                height: 20px;
            }
            span:nth-of-type(2){
                color:#ccc;
                font-size: 12px;
                text-decoration: line-through;
            }
            span:nth-of-type(1){
                color:#444;
                font-size: 20px;
                i{
                    font-size: 12px;
                }
            }
            span:nth-of-type(3){
                color:pink;
                width: 30px;
                height: 30px;
                float: right;
            }
        }
    }
}