<div class="bigbox" >
	<div class="clearfix">
		<search></search>
	</div>
	<div class="contain"  (scroll)='getScroll()'>
		<banner></banner>
		<div id="contain">
			<div class="article1">
				<ul>
					<li>
						<img src='http://b.appsimg.com/upload/maappactadmin/2018/02/24/115/151947268990_214x232_70.png'>
					</li>
					<li>
						<img src='http://b.appsimg.com/upload/maappactadmin/2018/02/24/97/151947285998_214x232_70.png'>
					</li>
					<li>
						<img src='http://b.appsimg.com/upload/maappactadmin/2018/02/24/82/151947300377_214x232_70.png'>
					</li>
					<li>
						<img src='http://b.appsimg.com/upload/maappactadmin/2018/02/24/20/151947466768_214x232_70.png'>
					</li>
					<li>
						<img src='http://h5rsc.vipstatic.com/lefeng_venue/224/1.gif'>
					</li>
				</ul>
			</div>
			<div class="article2">
					<img src="//b.appsimg.com/upload/mst/2018/01/31/136/7f1980225726c610de52d06f48a3f7f5.jpg">
			</div>
			<div class="article3 clearfix">
					<img src="//b.appsimg.com/upload/mst/2018/03/02/108/e2cf93ebd13a0a184f7bac0591006b87.gif" class="function2">
					<img src="//b.appsimg.com/upload/mst/2018/03/02/15/split_008317550a57161930855734a6dfd5527.jpg">
					<img src="//b.appsimg.com/upload/mst/2018/03/02/112/split_108317550a57161930855734a6dfd5527.jpg">
					<img src="//b.appsimg.com/upload/mst/2018/03/02/5/3fff997303f8cca7ac2cd87e43c8b41b.gif" >
					<img src="//b.appsimg.com/upload/mst/2018/03/05/38/69bca8843ab0ea6a80a10fbd23c85187.jpg" >
					<img src="//b.appsimg.com/upload/mst/2018/03/05/55/13736f6b05bf5854fec2f706abeaa816.gif">
					<img src="//b.appsimg.com/upload/mst/2018/03/02/168/0a2b96b326a106a4101964eb831d0d11.gif">
			</div>
			<div class="article4 clearfix">
						<div class="buttons-tab">
						<a href="#tab1" class="tab-link active button title" (click)='getA()'>促销专场</a>
						<a href="#tab2" class="tab-link button title" (click)='getB()'>品牌专区</a>
						<a href="#tab3" class="tab-link button title" (click)='getC()'>每日精选</a>
						</div>
						<div class="content-block">
						<div class="tabs">
							<div id="tab1" class="tab active">
							<div class="content-block">
							</div>
							</div>
							<div id="tab2" class="tab">
							<div class="content-block">
							</div>
							</div>
							<div id="tab3" class="tab">
							<div class="content-block">
							</div>
							</div>
						</div>
						</div>
					<!-- <h1 class=""></h1>
					<h1 class="title"></h1>
					<h1 class="title"></h1> -->
			</div>
			<div class="article5">
				<img src="http://b.appsimg.com/upload/maappactadmin/2018/03/02/86/151998031095_710x260_70.jpg">
				<img src="http://b.appsimg.com/upload/maappactadmin/2018/03/02/182/15199804794_710x260_70.jpg">
				<img src="http://b.appsimg.com/upload/maappactadmin/2018/03/02/62/151998059726_710x260_70.jpg">
				<img src="http://b.appsimg.com/upload/maappactadmin/2018/03/02/153/151998074321_710x260_70.jpg">
				<img src="http://b.appsimg.com/upload/maappactadmin/2018/03/02/90/151998088280_710x260_70.jpg">
				<img src="http://b.appsimg.com/upload/maappactadmin/2018/02/28/36/151978389937_710x260_70.jpg">
			</div>
			<ul class="article6">
				<li *ngFor='let obj of Brand'>
					<div>
						<img src={{obj.brandImage}}>
						<span>{{obj.pms}}</span>
					</div>
					<p>{{obj.name}}</p>
				</li>
			</ul>
			<ul class="article7 clearfix">
				<li *ngFor='let obj of Discount'>
					<div>
						<img src={{obj.verticalImage}} >
					</div>
					<div class="tag-warp"></div>
					<p><strong>{{obj.brandStoreName}}&nbsp;</strong>{{obj.name}}</p>
					<div>
						<span><i>￥</i>{{obj.vipshopPrice}}</span>
						<span>￥{{obj.totalCount}}</span>
						<span class="icon icon-cart" ></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<footnav></footnav>
</div>

