<div class="bigbox">
	<div class="listhead">
		<p *ngIf="common.brandStoreName">
	 		<span class="icon icon-left"  (click)="goBack()"></span>
	 		{{common.brandStoreName}}
		</p>
			 
	</div>
	<div class="brandShow" *ngFor="let obj of data">
		<img [src]="obj.brandImage" />
	</div>
	<div class="listFun">
		<ul>
			<li>价格排序</li>
			<li>销量</li>
			<li>筛选</li>
		</ul>
	</div>
	<div class="listBox">
			<goodslist [type]="common.brandStoreName"></goodslist>
	</div>
	
	<ul class="listAside">
		<li><img src="./../../../assets/images/n1.jpg" /></li>
		<li><img src="./../../../assets/images/n2.jpg" /></li>
		<li (click)="tocar()"><img src="./../../../assets/images/n3.jpg" /></li>
	</ul>
</div>
