    <div class="form">
       <form>
            <h1>Register</h1>
            <div class="form-group">
                <label for="user">User Name</label>
                <input type="text" class="form-control" id="user" placeholder="User Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary">Register</button>
            <a routerLink="/enter/login">login</a>
            <router-outlet></router-outlet>
        </form>
    </div>