.L_header{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /*height:1000px;*/
    width:100%;

}
.L_header h1{
    position: absolute;
    top:5%;
    left:5%;
}
.L_header img{
    width:100%;
    height:100%;
    float:left;
}
.form{
    position:absolute;
    left:30%;
    top:25%;
    width:400px;
    padding:20px;
    background: rgba(255,255,255,0.8);
    border-radius:8px;
}
.form .btn{
    width:100%;
}
.form h1{
    text-align:center;
}